* {
  box-sizing: border-box;
  margin: 0px;
}

body{
  height: 1280px;
  width: 720px;
}

#skills_placeholder{
  background-color: gray;
  height: 5%;
  width: 100%;
}

#swipe_space{
  background-color: lightgray;
  height: 90%;
  width: 100%;
}

#select_site{
  background-color: gray;
  height: 5%;
  width: 100%;
}

@keyframes swipeRight{
  from {
    background-color: black;
    left: 50%;
    top: 0px;
  }
  
  to{
    left: 100%;
    top: 0px;
    background-color: white;
  }
}

#companySlide{
  width: 50px;
  position: relative;
  left: 360px;
}

.slideRight{
  animation-name: swipeRight;
  animation-duration: 2s;
}